body {
	font-size: 1rem;
	font-family: 'Lucida Sans', sans-serif;
	color: black;
	background-color: white;
}

header {
	font-size: 2rem;
	display: block;
	text-align: center;
	margin-top: 2rem;
}

h2 {
	display: block;
	text-align: center;
	font-size: 1rem;
	text-decoration: underline;
}

img:not(#current, .success img) {
	width: 10%;
	cursor: pointer;
}

img:hover:not(#current, .success img) {
	opacity: 0.5;
}

#current {
	width: 50%;
	position: absolute;
	top: 9rem;
	right: 5rem;
}

#all-memes {
	display: flex;
	flex-wrap: wrap;
}

form {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	width: 15rem;
}

label, input {
	margin-bottom: 0.5rem;
}

button {
	background-color: grey;
	border: 0.1rem solid black;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	background-color: lightgray;
}

form button {
	width: 5rem;
}

button[data-make] {
	margin-top: 2rem;
}

.link-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-container a {
	margin: 3rem 1.5rem 0 1.5rem;
	text-decoration: none;
	color: black;
	border: 0.1rem solid black;
	padding: 0.5rem;
	background-color: beige;
}

.link-container a:hover {
	background-color: azure;
}

.success img {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
	display: none;
}